@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700&family=Sail&display=swap");

/* Template Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend", sans-serif;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 3rem;
  height: 100%;
}

/* Header */
.header {
  grid-area: header;
  display: flex;
  background: #b5eaea;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
}

.header a {
  color: #fff;
}

.header a:hover {
  color: #a3d2ca;
}

.logo a {
  color: #30475e;
  font-size: 3.2rem;
  font-family: "Sail", cursive;
  transition: 0s linear;
}

.logo a:hover {
  color: #fff;
  transition: 1s ease;
}

/* Main */
.main {
  grid-area: main;
}

/* Footer */
.footer {
  grid-area: footer;
  background: #b5eaea;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Page - Products*/
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-container li {
  flex: 0 1 28rem;
  margin: 1rem;
  height: 34rem;
  padding: 0;
  list-style: none;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  max-width: 30rem;
  max-height: 30rem;
}

.product-name {
  font-size: 1.2rem;
  font-weight: 400;
  color: #a3d2ca;
}

.product-name:hover {
  color: #91bab3;
}

.product-price {
  font-weight: 300;
  color: #a3d2ca;
}
