.navbar {
  grid-area: navbar;
  display: flex;
  background: #b5eaea;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: #a3d2ca;
}

.logo a {
  color: #fff;
  font-size: 3.2rem;
  font-family: "Sail", cursive;
  transition: 0s ease-out;
}

.logo a:hover {
  color: #a3d2ca;
  transition: 1s ease-in-out;
}
